body{
    background: #CCCCCC;
}

#banner{
    width: 100%;
}

h1 {
    text-align: center;
}

p, ul, li{
    text-align: left;
}

em strong{
    color: red;
}

.imagenDiferenciales{
    width: 100%;
}